.product-card {
  transition: all 0.3s ease;
  width: 280px;
  border: solid 1px #eee !important;
  padding: 15px !important;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  .top {
    padding-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .status {
      background-color: #1f9e29;
      border-radius: 14px;
      padding: 8px 12px;
      color: #ffb100;
      font-size: 12px;
      text-wrap: nowrap;
      font-weight: 700;
    }
    .title {
      font-weight: 600;
      text-align: right;
    }
  }
  .description {
  }
  .rating {
    padding-bottom: 25px;
    display: flex;
    font-size: 12px;
    align-items: center;
    .ant-rate-star {
      margin-inline-end: 4px;
      svg {
        width: 13px;
      }
    }
    .comment {
      color: #006bb4;
    }
  }
  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .price {
      font-weight: 600;
    }
    button {
      display: flex;
      align-items: center;
      gap: 5px;
      transition: all 0.2s ease;
      background-color: rgb(0, 0, 0);
      color: rgb(255, 255, 255);
      padding: 10px 16px;
      border-radius: 14px;
    }
    button:hover {
      background-color: #ffb100;
      color: rgb(255, 255, 255);
    }
  }
}
.product-card:hover {
  z-index: 1000;
  transform: scale(1.025);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
